{"HOSTIP":{"NETMASK":"255.0.0.0","SESSIONID":"undefined","GATEWAY":"2.2.2.23","IP":"2.2.2.9"},"HEART":{"INTERVAL":"4","SESSIONID":"undefined","URL":"2.2.2.2"},"xx":"1","CALLCENTER":{"PORT":"808i","SESSIONID":"undefined","IP":"2.2.2.3"},"TAPESERVER":{"SPAREPORT":"80933","SPAREIP":"2.2.2.5","SESSIONID":"undefined","MAINIP":"2.2.2.4","MAINPORT":"80922"},"PASSWORD":{"PASSWORD":"1c63129ae9db9c60c3e8aa94d3e00495","SESSIONID":"undefined"}}